<!doctype html>
<html lang="en">
{{> partials/head }}
<body class="  ">
<!-- loader Start -->
{{> partials/loading }}
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    {{> partials/iq-sidebar }}
    {{> partials/iq-top-navbar }}

    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    {{> partials/breadcrumbs}}
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Новый обект</h4>
                            </div>
                            <div class="header-action">
                                <i data-toggle="collapse" data-target="#form-element-14" aria-expanded="false">
                                    <svg width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
                                    </svg>
                                </i>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/dictionary/products" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="description">Название</label>
                                    <input type="text" class="form-control" id="description" name="description"
                                           placeholder="Введите описание">
                                </div>
                                <div class="form-group">
                                    <label for="explanation">Описание</label>
                                    <textarea class="form-control" id="explanation" name="explanation" rows="3"
                                              placeholder="Введите объяснение"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="image">Изображение продукта</label>
                                    <input style="height: 70px;" type="file" class="form-control" id="image" name="image" accept="image/*">
                                </div>
                                <button type="submit" class="btn btn-primary mr-2">Сохранить продукт</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- Wrapper End-->
{{> partials/footer }}
</body>
</html>