<!doctype html>
<html lang="en">
{{> partials/head }}
<body class="  ">
<!-- loader Start -->
{{> partials/loading }}
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    {{> partials/iq-sidebar }}
    {{> partials/iq-top-navbar }}

    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    {{> partials/breadcrumbs}}

                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Описание образцов и единиц количества</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="table" class="table-editable">
                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                        <tr>
                                            <th>Название</th>
                                            <th>Описание</th>
                                            <th>изображение</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="editable" contenteditable="true">{{#product.description}} {{product.description}} {{/product.description}}</td>
                                            <td class="editable" contenteditable="true">{{#product.explanation}} {{product.explanation}} {{/product.explanation}}</td>
                                            <td>
                                                <input type="file" id="productImage" accept="image/*" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-primary" onclick="updateProduct('{{product.id}}')">Обновить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Wrapper End-->
{{> partials/footer }}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateProduct(productId) {
        const product = {
            description: $('td.editable:eq(0)').text().trim(),
            preferredUnit: $('td.editable:eq(1)').text().trim(),
            explanation: $('td.editable:eq(2)').text().trim(),
        };

        const imageFile = $('#productImage')[0].files[0];
        const formData = new FormData();

        formData.append('product', JSON.stringify(product)); // JSON-строка с данными продукта
        if (imageFile) {
            formData.append('file', imageFile); // Файл изображения
        }

        $.ajax({
            url: '/dictionary/products/' + productId,
            type: 'PUT',
            processData: false,
            contentType: false,
            data: formData,
            success: function(response) {
                alert('Продукт успешно обновлен!');
            },
            error: function(err) {
                alert('Ошибка обновления продукта!');
                console.error(err);
            },
        });
    }

</script>
</body>
</html>