<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<section layout:fragment="content">

    <div class="row">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Дэшборд</a></li>
                <li class="breadcrumb-item active" aria-current="page">Разрешения</li>
            </ol>
        </nav>

        <h2 class="mb-3">Разрешения CITES, выданные за период с 2020 г. по сегодняшний день</h2>

        <form class="row g-2 mb-4 align-items-end" method="get" th:action="@{/permission/list}">
            <div class="col-md-3">
                <input type="text" name="permitNumber" class="form-control" placeholder="Номер разрешения" th:value="${param.permitNumber}">
            </div>

            <div class="col-md-3">
                <select id="type" name="type" class="form-select">
                    <option value="" th:selected="${param.type == null or param.type == ''}">Выберите тип</option>
                    <option value="CITES" th:selected="${param.type == 'CITES'}">CITES</option>
                    <option value="Флора" th:selected="${param.type == 'Флора'}">Флора</option>
                    <option value="Фауна" th:selected="${param.type == 'Фауна'}">Фауна</option>
                </select>
            </div>

            <div class="col-md-3">
                <select id="source" name="source" class="form-select">
                    <option value="" th:selected="${param.source == null or param.source == ''}">Выберите источник</option>
                    <option value="дик" th:selected="${param.source == 'дикая'}">W — Дикая природа (экземпляр изъят из природы)</option>
                    <option value="вылов" th:selected="${param.source == 'вылов'}">R — Выловленные в дикой природе, но выращенные в контролируемых условиях (например, рыба или растения)</option>
                    <option value="выведен" th:selected="${param.source == 'выведен'}">D — Животные, выведенные в неволе в соответствии с положениями Резолюции CITES Conf. 10.16 (Rev.)</option>
                    <option value="контрол" th:selected="${param.source == 'контрол'}">C — Животные, выведенные в неволе, не полностью соответствующие критериям кода D</option>
                    <option value="выращен" th:selected="${param.source == 'выращен'}">F — Животные, выращенные в контролируемых условиях (в неволе, но не полностью в соответствии с CITES)</option>
                    <option value="растен" th:selected="${param.source == 'растен'}">A — Искусственно размноженные растения</option>
                    <option value="питомник" th:selected="${param.source == 'питомник'}">Y — Растения из питомников</option>
                    <option value="гибрид" th:selected="${param.source == 'гибрид'}">X — Гибридные экземпляры</option>
                    <option value="неизвестен" th:selected="${param.source == 'неизвестен'}">U — Источник неизвестен</option>
                    <option value="конфиск" th:selected="${param.source == 'конфиск'}">I — Конфискованные или изъятые государственными органами</option>
                    <option value="до вступления" th:selected="${param.source == 'до вступления'}">O — Экземпляры, полученные до вступления CITES в силу для соответствующей страны (т. е. до того как начали действовать ограничения)</option>
                </select>
            </div>

            <div class="col-md-3">
                <select id="purpose" name="purpose" class="form-select">
                    <option value="" th:selected="${param.purpose == null or param.purpose == ''}">Выберите цель</option>
                    <option value="коммер">T — Коммерческая (торговля)</option>
                    <option value="зоо">Z — Зоопарк</option>
                    <option value="ботан">G — Ботанический сад</option>
                    <option value="цирк">Q — Цирк или гастролирующая выставка</option>
                    <option value="научн">S — Научная</option>
                    <option value="троф">H — Охотничьи трофеи</option>
                    <option value="личн">P — Личное пользование</option>
                    <option value="медицин">M — Медицинская (включая биомедицинские исследования)</option>
                    <option value="образ">E — Образовательная</option>
                    <option value="реинт">N — Реинтродукция или интродукция в дикую природу</option>
                    <option value="развед">B — Разведение в неволе или искусственное размножение</option>
                    <option value="судебн">L — Правоохранительная / судебная / криминалистическая</option>
                </select>
            </div>

            <div class="col-md-3">
                <label for="quantity" class="form-label">Количество / Ед. изм.</label>
                <input type="text" id="quantity" name="quantity" class="form-control"
                       placeholder="например: кг, тонн, 20" th:value="${param.quantity}">
            </div>

            <div class="col-md-3">
                <input type="text" name="companyName" class="form-control" placeholder="Организация" th:value="${param.companyName}">
            </div>

            <div class="col-md-3">
                <input type="text" name="object" class="form-control" placeholder="Объект" th:value="${param.object}">
            </div>

            <input type="hidden" name="size" value="10"/>

            <div class="col-12 d-flex justify-content-end gap-2 mt-3">
                <button type="submit" class="btn btn-primary">Фильтровать</button>
                <a href="/permission/list" class="btn btn-outline-secondary">Очистить фильтра</a>
            </div>

        </form>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Добавить новое разрешение</h4>
                <div class="row">
                    <div class="d-flex flex-wrap gap-2">
                        <a class="btn btn-success waves-effect btn-label waves-light w-100" th:href="@{/permission}">
                            <i class="bx bx-check-double label-icon"></i> добавить
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Номер</th>
                <th>Организация</th>
                <th>Объект</th>
                <th>Кол-во</th>
                <th>Тип</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="permit : ${permits}">
                <td>
                    <button type="button"
                            class="btn btn-outline-primary btn-sm"
                            data-bs-toggle="modal"
                            th:attr="data-bs-target='#exampleModal-' + ${permit.id}">
                        Сделать отметку
                    </button>
                </td>
                <td th:text="${permit.id}"></td>
                <td th:text="${permit.companyName}"></td>
                <td th:text="${permit.object}"></td>
                <td th:text="${permit.quantity}"></td>
                <td th:text="${permit.type}"></td>
                <td th:text="${permit.statusDescription}" class="text-capitalize"></td>
                <td>
                    <a th:href="@{'/permission/' + ${permit.id}}" class="btn btn-sm btn-outline-primary">Просмотр</a>
                </td>

                <!-- Модальное окно -->
                <div class="modal fade" th:id="'exampleModal-' + ${permit.id}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form th:id="'borderCrossForm-' + ${permit.id}"
                              th:action="@{/api/crossings/{id}(id=${permit.id})}"
                              method="post">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Отметка о пересечении</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Выберите пограничный контрольный пункт (КПП) для разрешения
                                        <strong th:text="${permit.id}"></strong>:</p>

                                    <div class="mb-3">
                                        <label class="form-label">Контрольный пункт</label>
                                        <select name="checkpointId" class="form-select" required
                                                th:attr="id='checkpointSelect-' + ${permit.id}">
                                            <option value="">Выберите КПП</option>
                                            <option th:each="cp : ${checkpoints}"
                                                    th:value="${cp.id}"
                                                    th:text="${cp.name}"></option>
                                            <option value="other">Другое</option>
                                        </select>

                                        <input type="text"
                                               class="form-control mt-2"
                                               th:attr="id='customCheckpointInput-' + ${permit.id}"
                                               name="customCheckpointName"
                                               placeholder="Введите свой КПП"
                                               style="display: none;" />
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-primary"
                                            th:attr="onclick=|submitBorderCrossForm('${permit.id}')|">
                                        Сохранить
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </tr>
            </tbody>
        </table>

        <nav th:if="${totalPages > 1}" aria-label="Pagination">
            <ul class="pagination">
                <li class="page-item" th:classappend="${previousDisabled} ? 'disabled'">
                    <a class="page-link" th:href="@{|/permission/list?page=${previousPage}&size=${size}|}">Назад</a>
                </li>
                <li class="page-item" th:each="pageNum : ${pageNumbers}" th:classappend="${pageNum == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{|/permission/list?page=${pageNum}&size=${size}|}" th:text="${pageNum}"></a>
                </li>
                <li class="page-item" th:classappend="${nextDisabled} ? 'disabled'">
                    <a class="page-link" th:href="@{|/permission/list?page=${nextPage}&size=${size}|}">Вперёд</a>
                </li>
            </ul>
        </nav>

    </div>

</section>
</html>