<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<section layout:fragment="content">
    <div class="container-xxl py-5">
        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/dashboard}">Дэшборд</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/incidents}">Инциденты</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Создание новой записи об инциденте</li>
                </ol>
            </nav>
                <div class="container">
                    <div class="card shadow rounded">
                        <div class="card-header d-flex justify-content-between align-items-center bg-light">
                            <h4 class="mb-0">Запись инцидента</h4>
                            <button class="btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#form-collapse" aria-expanded="false">
                                <i class="bi bi-chevron-double-down"></i>
                            </button>
                        </div>

                        <div class="card-body collapse show" id="form-collapse">
                            <form th:action="@{/incidents}" method="post" enctype="multipart/form-data">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label for="registeredAtString" class="form-label">Дата изъятия</label>
                                        <input required type="datetime-local" class="form-control" id="registeredAtString" name="registeredAtString">
                                    </div>

                                    <div class="col-md-6 position-relative">
                                        <label for="speciesSelect" class="form-label">Виды</label>
                                        <input type="text"
                                               class="form-control"
                                               id="speciesSelect"
                                               name="species"
                                               placeholder="Начните ввод для поиска"
                                               autocomplete="off"
                                               required>
                                        <ul class="list-group position-absolute w-100"
                                            id="speciesSuggestions"
                                            style="z-index: 1000; max-height: 200px; overflow-y: auto; display: none;"></ul>
                                    </div>


                                    <div class="col-md-6">
                                        <label for="description" class="form-label">Описание образца</label>
                                        <input required type="text" class="form-control" id="description" name="description">
                                    </div>

                                    <div class="col-md-3">
                                        <label for="count" class="form-label">Количество</label>
                                        <input required type="number" step="0.01" class="form-control" id="count" name="count">
                                    </div>

                                    <div class="col-md-3">
                                        <label for="unitOfMeasurement" class="form-label">Единица измерения</label>
                                        <select required class="form-select" id="unitOfMeasurement" name="unitOfMeasurementId">
                                            <option value="">Выберите единицу</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label  class="form-label">Выявивший орган</label>
                                        <label>
                                            <select class="form-select" name="authorityId" required>
                                                <option value="">выберите</option>
                                                <option th:each="a : ${authorities}" th:value="${a.id}" th:text="${a.name}"></option>
                                            </select>
                                        </label>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">Способ обнаружения</label>
                                        <select class="form-select" id="discoveryMethodSelect" name="discoveryMethodId" required>
                                            <option value="">выберите</option>
                                            <option th:each="m : ${discoveryMethods}" th:value="${m.id}" th:text="${m.method}"></option>
                                            <option value="other">Другое</option>
                                        </select>

                                        <input type="text" id="customDiscoveryInput"
                                               name="customDiscoveryMethod"
                                               class="form-control mt-2"
                                               placeholder="Введите способ обнаружения"
                                               style="display: none;" />
                                    </div>


                                    <div class="col-md-6">
                                        <label class="form-label">Причина изъятия</label>
                                        <select class="form-select" name="reasonForSeizureId" required>
                                            <option value="">выберите</option>
                                            <option th:each="r : ${reasonForSeizures}" th:value="${r.id}" th:text="${r.reason}"></option>
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">Способ транспортировки</label>
                                        <select class="form-select" name="transportMethodId" required>
                                            <option value="">выберите</option>
                                            <option th:each="t : ${transportMethods}" th:value="${t.id}" th:text="${t.method}"></option>
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">Направление торговли</label>
                                        <select class="form-select" name="tradeDirectionId" required>
                                            <option value="">выберите</option>
                                            <option th:each="d : ${tradeDirections}" th:value="${d.id}" th:text="${d.direction}"></option>
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="hidingMethod" class="form-label">Способ сокрытия</label>
                                        <input required type="text" class="form-control" id="hidingMethod" name="hidingMethod">
                                    </div>

                                    <div class="col-md-6">
                                        <label for="suspectedOriginCountry" class="form-label">Страна происхождения</label>
                                        <select required class="form-select" id="suspectedOriginCountry" name="suspectedOriginCountry">
                                            <option value="">Начните ввод для поиска</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">Страны транзита</label>
                                        <input type="text" id="transitCountries" class="form-control" placeholder="Введите страну" autocomplete="off">
                                        <ul id="transitCountrySuggestions" class="list-group mt-1" style="display: none;"></ul>
                                        <div id="selectedCountries" class="mt-2"></div>
                                        <div id="hiddenCountryInputs"></div>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="finalDestination" class="form-label">Конечный пункт назначения</label>
                                        <input required type="text" class="form-control" id="finalDestination" name="finalDestination">
                                    </div>

                                    <div class="col-md-12">
                                        <label for="additionalInfo" class="form-label">Дополнительная информация</label>
                                        <input type="text" class="form-control" id="additionalInfo" name="additionalInfo">
                                    </div>

                                    <div class="col-md-6">
                                        <label for="photo" class="form-label">Фото доказательства (необязательно)</label>
                                        <input type="file" class="form-control" name="photo" id="photo" accept="image/*">
                                    </div>

                                    <div class="col-12 text-end mt-4">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="bi bi-send me-1"></i> Отправить
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>