<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<section layout:fragment="content">
    <div class="container-xxl py-5">
        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/dashboard}">Дешборд</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Инциденты</li>
                </ol>
            </nav>

            <div class="container-xxl py-5">
                <div class="container">
                    <div class="card shadow rounded">
                        <div class="card-header d-flex justify-content-between align-items-center bg-light">
                            <h4 class="mb-0">Инциденты</h4>
                            <button class="btn btn-sm btn-primary" type="button" onclick="location.href='/incidents/create'">
                                <i class="bi bi-plus-circle me-1"></i> Добавить
                            </button>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped align-middle">
                                    <thead class="table-light text-center">
                                    <tr>
                                        <th></th>
                                        <th>Дата изъятия</th>
                                        <th>Виды</th>
                                        <th>Название на латинском</th>
                                        <th>Описание образца</th>
                                        <th>Количество</th>
                                        <th>Единица измерения</th>
                                        <th>Выявивший орган</th>
                                        <th>Способ обнаружения</th>
                                        <th>Причина изъятия</th>
                                        <th>Способ транспортировки</th>
                                        <th>Направление торговли</th>
                                        <th>Способ сокрытия</th>
                                        <th>Страна происхождения</th>
                                        <th>Страны транзита</th>
                                        <th>Конечный пункт назначения</th>
                                        <th>Доп. информация</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="incident : ${incidents}">
                                        <td><a th:href="@{/incidents/{id}(id=${incident.id})}">Посмотреть</a></td>
                                        <td th:text="${incident.registeredAt}"></td>
                                        <td th:text="${incident.species}"></td>
                                        <td th:text="${incident.latinName}"></td>
                                        <td th:text="${incident.description}"></td>
                                        <td th:text="${incident.count}"></td>
                                        <td th:text="${incident.unitOfMeasurement}"></td>
                                        <td th:text="${incident.authority}"></td>
                                        <td th:text="${incident.discoveryMethod}"></td>
                                        <td th:text="${incident.reasonForSeizure}"></td>
                                        <td th:text="${incident.transportMethod}"></td>
                                        <td th:text="${incident.tradeDirection}"></td>
                                        <td th:text="${incident.hidingMethod}"></td>
                                        <td th:text="${incident.suspectedOriginCountry}"></td>
                                        <td th:text="${incident.transitCountries}"></td>
                                        <td th:text="${incident.finalDestination}"></td>
                                        <td class="text-end" th:text="${incident.additionalInfo}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Пагинация -->
                            <nav aria-label="Пагинация" class="mt-4">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item" th:classappend="${previousDisabled} ? 'disabled'">
                                        <a class="page-link" th:href="@{|?page=${previousPage}&size=10|}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>

                                    <li th:each="i : ${pageNumbers}" class="page-item" th:classappend="${i == currentPage} ? 'active'">
                                        <a class="page-link" th:href="@{|?page=${i}&size=10|}" th:text="${i}"></a>
                                    </li>

                                    <li class="page-item" th:classappend="${nextDisabled} ? 'disabled'">
                                        <a class="page-link" th:href="@{|?page=${nextPage}&size=10|}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</html>