<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<section layout:fragment="content">
    <div class="container-xxl py-5">
        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/dashboard}">Дэшборд</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/incidents}">Инциденты</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Просмотр записи об инциденте</li>
                </ol>
            </nav>

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Информация об инциденте</h4>
                        <p class="card-title-desc">Подробная информация об изъятом объекте и обстоятельствах инцидента.</p>

                        <div class="table-responsive">
                            <table class="table table-sm m-0 table-bordered">
                                <tbody>
                                <tr>
                                    <th scope="row">Регистрационный номер</th>
                                    <td th:text="${incident.id}"></td>
                                    <th>Дата изъятия</th>
                                    <td th:text="${incident.registeredAt}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Виды</th>
                                    <td th:text="${incident.species}"></td>
                                    <th>Описание образца</th>
                                    <td th:text="${incident.description}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Количество</th>
                                    <td th:text="${incident.count}"></td>
                                    <th>Единица измерения</th>
                                    <td th:text="${incident.unitOfMeasurement.unit}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Выявивший орган</th>
                                    <td th:text="${incident.authority.name}"></td>
                                    <th>Способ обнаружения</th>
                                    <td th:text="${incident.discoveryMethod.method}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Причина изъятия</th>
                                    <td th:text="${incident.reasonForSeizure.reason}"></td>
                                    <th>Способ транспортировки</th>
                                    <td th:text="${incident.transportMethod.method}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Направление торговли</th>
                                    <td th:text="${incident.tradeDirection.direction}"></td>
                                    <th>Способ сокрытия</th>
                                    <td th:text="${incident.hidingMethod}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Страна происхождения</th>
                                    <td th:text="${incident.suspectedOriginCountry.name}"></td>
                                    <th>Страна(ы) транзита</th>
                                    <td th:text="${incident.transitCountries}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Конечный пункт назначения</th>
                                    <td th:text="${incident.finalDestination}"></td>
                                    <th>Доп. информация</th>
                                    <td th:text="${incident.additionalInfo}"></td>
                                </tr>
                                <tr th:if="${incident.photoPath != null}">
                                    <th scope="row">Фото доказательства</th>
                                    <td colspan="3">
                                        <img th:src="@{${incident.photoPath}}" alt="Фото инцидента" class="img-fluid rounded shadow-sm" style="max-height: 300px;">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>