<!-- fragments/footer.html -->
<footer th:fragment="footer" class="footer text-center text-lg-start" style="background-color: #f8f8fb;">
    <div class="container-fluid">
        <div class="row shadow-lg p-3 bg-body rounded">
                <!-- Grid container -->
                    <!--Grid row-->
                    <div class="row mt-4">
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                            <h5 class="text-uppercase mb-4" th:text="#{footer.contacts}"></h5>
                            <p th:text="#{footer.contacts.description1}"></p>
                            <p th:text="#{footer.contacts.phone}"></p>
                            <p th:text="#{footer.contacts.description2}"></p>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-uppercase mb-4 pb-1" th:text="#{footer.address}"></h5>

                            <ul class="fa-ul" style="margin-left: 1.65em;">
                                <li class="mb-3">
                                    <span class="fa-li"><i class="fas fa-home"></i></span><span th:text="#{footer.address.full}"></span>
                                </li>
                                <li class="mb-3">
                                    <span class="fa-li"><i class="fas fa-envelope"></i></span><span>info@mnr.gov.kg</span>
                                </li>
                                <li class="mb-3">
                                    <span class="fa-li"><i class="fas fa-phone"></i></span><span>(+996) 312 30 06 67 (1714)</span>
                                </li>
                                <li class="mb-3">
                                    <span class="fa-li"><i class="fas fa-print"></i></span><span>(0312) 300667</span>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-uppercase mb-4" th:text="#{footer.reception.days}"></h5>

                            <table class="table text-center text-white">
                                <tbody class="font-weight-normal">
                                <tr>
                                    <td th:text="#{footer.reception.days.schedule}"></td>
                                    <td>09:00 - 18:00</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
        </div>
    </div>
</footer>
