<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MNR | CRM Admin Dashboard</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" />

    <link rel="stylesheet" href="/css/backend-plugin.min.css">
    <link rel="stylesheet" href="/css/backend.css?v=1.0.0">  </head>
<body class=" ">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->

<div class="wrapper">
    <div class="container">
        <div class="row no-gutters height-self-center">
            <div class="col-sm-12 text-center align-self-center">
                <div class="iq-error position-relative">
                    <img src="/images/error/Datum_404.png" class="img-fluid iq-error-img iq-error-img-dark mx-auto" alt="">
                    <img src="/images/error/Datum_404.png"  class="img-fluid iq-error-img mb-0" alt="">
                    <h2 class="mb-0">Oops! This Page is Not Found.</h2>
                    <p>The requested page dose not exist.</p>
                    <a class="btn btn-primary d-inline-flex align-items-center mt-3" href="/dashboard"><i class="ri-home-4-line mr-2"></i>На главную</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Backend Bundle JavaScript -->
<script src="/js/backend-bundle.min.js"></script>
<!-- Chart Custom JavaScript -->
<script src="/js/customizer.js"></script>
<script src="/js/sidebar.js"></script>
<!-- Flextree Javascript-->
<script src="/js/flex-tree.min.js"></script>
<script src="/js/tree.js"></script>
<!-- Table Treeview JavaScript -->
<script src="/js/table-treeview.js"></script>
<!-- SweetAlert JavaScript -->
<script src="/js/sweetalert.js"></script>
<!-- Vectoe Map JavaScript -->
<script src="/js/vector-map-custom.js"></script>
<!-- Chart Custom JavaScript -->
<script src="/js/chart-custom.js"></script>
<script src="/js/charts/01.js"></script>
<script src="/js/charts/02.js"></script>
<!-- slider JavaScript -->
<script src="/js/slider.js"></script>
<!-- Emoji picker -->
<script src="/vendor/emoji-picker-element/index.js" type="module"></script>
<!-- app JavaScript -->
<script src="/js/app.js"></script>  </body>
</html>