<!DOCTYPE html>
<html>
<head>
    <title>Galileo Design</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'"
          href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"/>
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>
<body>
<div class="relative flex size-full min-h-screen flex-col bg-[#F8F9FB] group/design-root overflow-x-hidden" style='font-family: Manrope, "Noto Sans", sans-serif;'>
    <div class="layout-container flex h-full grow flex-col">
        {{> partials/header}}

        <div class="px-40 flex flex-1 justify-center py-5">
            <div class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5 max-w-[960px] flex-1">
                <div class="@container">
                    <div class="@[480px]:px-4 @[480px]:py-3">
                        <div
                                class="w-full bg-center bg-no-repeat bg-cover flex flex-col justify-end overflow-hidden bg-slate-50 @[480px]:rounded-xl min-h-[218px]"
                                style='background-image: url("https://cdn.usegalileo.ai/sdxl10/a0705825-4cac-4ccd-8606-a31500b58ae5.png");'
                        ></div>
                    </div>
                </div>
                <h3 class="text-[#0d151c] tracking-light text-2xl font-bold leading-tight px-4 text-center pb-2 pt-5">{{error}}</h3>
                <p class="text-[#0d151c] text-base font-normal leading-normal pb-3 pt-1 px-4 text-center">Please try again or contact support if the problem persists.</p>

            </div>
        </div>
    </div>
</div>
</body>
</html>
