<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О проекте | CITES Кыргызстан</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap + WOW.js -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/home/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap&subset=cyrillic" rel="stylesheet">

    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #fff;
            color: #333;
        }
        .hero-section {
            background: url('/images/bg-hero.jpg') center/cover no-repeat;
            height: 350px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .hero-section h1 {
            color: white;
            font-size: 48px;
            font-weight: 700;
            text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
        }

        .content-section {
            padding: 50px 15px;
        }

        .content-section h2 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .content-section p {
            font-size: 18px;
            line-height: 1.7;
        }

        .shield-icon {
            float: left;
            margin-right: 20px;
            width: 60px;
        }

        .content-section ul {
            margin-top: 15px;
            padding-left: 20px;
        }

        .content-section ul li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<!-- Шапка -->
<!-- Navbar Start -->
<nav
        class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-lg-0 px-4 px-lg-5 wow fadeIn"
        data-wow-delay="0.1s"
>
    <a href="/" class="navbar-brand p-0">
        <img class="img-fluid me-3" src="/images/min-logo.jpeg" alt="Icon" style="margin: 7px;"/>
        <h3 class="m-0 text-primary" style="font-size: medium">Министерство природных ресурсов, экологии <br> и технического надзора Кыргызской Республики</h3>
    </a>
    <button
            type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse py-4 py-lg-0" id="navbarCollapse">
        <div class="navbar-nav ms-auto">
            <!-- <a href="index.html" class="nav-item nav-link active">Home</a> -->
            <!-- <a href="about.html" class="nav-item nav-link">About</a> -->
            <a href="/about" class="nav-item nav-link">Подробнее о нас</a>

            <div class="nav-item dropdown">
                <a
                        href="#"
                        class="nav-link dropdown-toggle"
                        data-bs-toggle="dropdown"
                >Авторизуйтесь</a
                >
                <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                    <a href="/auth" class="dropdown-item">Войти</a>
                    <a href="/registration" class="dropdown-item">Зарегистрироваться</a>
                </div>
            </div>

            <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
        </div>
        <a href="/dashboard" class="btn btn-primary">
            Панель управления
            <i class="fa fa-arrow-right ms-3"></i>
        </a>
    </div>
</nav>
<!-- Navbar End -->

<!-- Херо-секция -->
<div class="hero-section">
    <h1>О нас</h1>
</div>

<!-- Контент -->
<div class="container content-section">
    <h2>Наша цель</h2>
    <div class="col-md-12 p-4">
        <p>
            Мы стремимся к созданию эффективной платформы для обмена информацией между учеными, природоохранными и государственными организациями. Основная цель — усилить борьбу с незаконной торговлей дикими животными и растениями.
        </p>
        <p>
            Мы сотрудничаем с органами CITES, а также с таможней, пограничной службой и другими ведомствами, предоставляя аналитическую информацию для принятия решений.
        </p>
    </div>

    <h2 class="center">Министерство природных ресурсов, экологии и технического надзора
        Кыргызской Республики</h2>
    <div class="col-md-12 p-4">
        <img src="/images/min-logo.jpeg" class="shield-icon" alt="">
        <p>
            Министерство экологии Кыргызской Республики отвечает за охрану окружающей среды и рациональное использование природных ресурсов. В числе ключевых задач:
        </p>
        <ul>
            <li>является уполномоченным государственным органом
                исполнительной власти, осуществляющим разработку и реализацию государственной
                политики и координацию в сферах охраны окружающей среды, экологии и климата,
                геологии и недропользования, использования и охраны природных ресурсов, включая
                биоресурсы, недра и водные ресурсы</li>
        </ul>
        <a href="https://mnr.gov.kg/r">https://mnr.gov.kg/ru</a>
    </div>

    <h2 class="center">Fauna &amp; Flora</h2>
    <div class="col-md-12 p-4">

        <img src="/images/donors/ff.png" class="shield-icon" alt="">
        <p>
            Fauna &amp; Flora — это международная благотворительная организация, занимающаяся
            охраной дикой природы. Мы тесно сотрудничаем с природоохранными организациями
            в 48 странах мира для защиты и восстановления природы.
        </p>
        <p>Наша миссия заключается в сохранении биоразнообразия, предотвращении
            исчезновения видов и поддержке устойчивых источников средств к существованию
            для сообществ, живущих в непосредственной близости от природы.</p>
        <p>
            Обладая более чем 120-летним опытом и знаниями, Fauna &amp; Flora стоит в авангарде
            глобальных усилий по охране дикой природы и природных экосистем. Мы решаем
            широкий спектр экологических проблем, включая уничтожение среды обитания,
            незаконную торговлю дикой природой, неустойчивое использование природных
            ресурсов, изменение климата, загрязнение пластиком, корпоративную устойчивость и
            международную экологическую политику.
        </p>
        <p>
            Мы добиваемся результатов как через прямую поддержку проектов в странах, так и
            предоставляя техническую и операционную экспертизу из нашего центрального офиса
            в Великобритании и региональных представительств по всему миру.
        </p>
        <p>
            В Центральной Азии Fauna &amp; Flora работает через офисы в Кыргызстане и
            Таджикистане, а также сотрудничает с надёжными партнёрами в Казахстане и
            Узбекистане. Программа в регионе сосредоточена на сохранении одних из самых
            ценных экосистем, включая уникальные фруктово-ореховые леса и высокогорные
            пастбища, жизненно важные как для людей, так и для дикой природы.
        </p>
        <p>
            Мы также занимаемся охраной ряда глобально и регионально исчезающих видов,
            таких как дикие яблони, груши и тюльпаны, а также видов, находящихся под угрозой
            из-за незаконной торговли, включая сайгаков, балобанов и степных черепах.
            Совместно с государственными органами и природоохранными организациями Fauna
            &amp; Flora и наши партнёры стремятся развивать местный потенциал и активно вовлекать
            местное население в охрану богатого и разнообразного природного наследия
            Центральной Азии.
        </p>
        <p>
            Больше информации об организации и нашей глобальной деятельности вы можете
            найти на нашем сайте: <a href="https://www.fauna-flora.org">https://www.fauna-flora.org</a>
        </p>
    </div>

    <h2 class="center">TRAFFIC: Глобальный лидер в сфере торговли дикой природой</h2>
    <div class="col-md-12 p-4">
        <img src="/images/donors/traffic.jpg" class="shield-icon" alt="">
        <p>
            TRAFFIC — ведущая неправительственная организация, работающая над тем, чтобы
            торговля дикими видами животных и растений была законной и устойчивой, принося
            пользу планете и людям. Обладая почти 50-летним опытом, TRAFFIC активно действует
            для сокращения незаконной торговли и увеличения выгод от законной и устойчивой
            торговли дикими видами для местных сообществ.
        </p>
        <p>
            Как признанный международный эксперт в своей области, TRAFFIC осуществляет
            исследования, расследования и аналитические обзоры, собирая ключевые данные,
            которые способствуют принятию решений правительствами, бизнесом и частными
            лицами. Совместно с широкой сетью партнёров TRAFFIC содействует разработке
            эффективной политики и реализации практических мер по защите биоразнообразия и
            поддержке устойчивых средств к существованию.
        </p>
        <p>
            TRAFFIC работает в важнейших регионах мира, где сосредоточена торговля дикой
            природой, выявляя вызовы и возможности, связанные с охраной окружающей среды и
            устойчивым развитием.
        </p>
        <p>
            Организация ведёт деятельность на пяти континентах, располагает около 20 офисами и
            насчитывает примерно 200 сотрудников по всему миру.
        </p>
    </div>

    <h2>TRAFFIC в Центральной Азии</h2>
    <div class="col-md-12 p-4">
        <img src="/images/donors/traffic.jpg" class="shield-icon" alt="">
        <p>
            TRAFFIC уже более 20 лет работает в Центральной Азии, занимаясь решением сложных
            проблем, связанных с торговлей дикой природой, в регионе, который является
            перекрёстком легальных и нелегальных торговых маршрутов. С 2022 года региональное
            представительство TRAFFIC, расположенное в Бишкеке (Кыргызстан), координирует
            усилия в Казахстане, Кыргызстан, Таджикистане и Узбекистане.
        </p>
        <h6>Реализованные и реализуемые проекты в Центральной Азии</h6>
        <ul>
            <li>Формирование эффективного реагирования на незаконную торговлю дикой
                природой (2021–2023)
                Финансирование: DEFRA, Правительство Великобритании
                Укрепление региональной координации и механизмов правоприменения в борьбе с
                незаконной торговлей.</li>
            <li>
                Повышение потенциала и содействие в борьбе с преступлениями против
                дикой природы (2021–2025)
                Финансирование: INL, Правительство США
                Развитие институционального потенциала и укрепление политической воли для
                борьбы с преступлениями против дикой природы в Центральной Азии.
            </li>
            <li>
                Динамика торговли домашними животными: незаконная торговля дикой
                природой (2023–2025)
                Финансирование: INL, Правительство США
                Исследование тенденций, факторов и маршрутов нелегальной торговли дикими
                животными для содержания в качестве домашних питомцев.
            </li>
            <li>
                Улучшение сбора диких растений для устойчивой торговли
                Финансирование: DEFRA, Правительство Великобритании

                Проведение пилотных проектов по устойчивому сбору диких растений для
                поддержки легальной и экологически ответственной торговли в Узбекистане.
            </li>
            <a href="https://www.traffic.org/">https://www.traffic.org/</a>
        </ul>
    </div>
</div>

<!-- Футер -->
<footer class="bg-dark text-white text-center py-4">
    &copy; 2025 CITES Кыргызстан.
</footer>

<!-- Скрипты -->
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script>
    new WOW().init();
</script>
</body>
</html>
