<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<section layout:fragment="content" class="py-5">

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Дэшборд</a></li>
                <li class="breadcrumb-item active" aria-current="page">О нас</li>
            </ol>
        </nav>

        <div class="row" style="text-align: justify;">

                <div class="col-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="d-flex align-items-center">

                                <div class="flex-grow-1">
                                    <h3 class="mb-3">Министерство природных ресурсов, экологии и технического надзора КР</h3>
                                    <p class="mb-0 fs-4"> Министерство экологии Кыргызской Республики отвечает за охрану окружающей среды и рациональное-->
                                        использование природных ресурсов. В числе ключевых задач Является уполномоченным государственным органом исполнительной власти, осуществляющим-->
                                        разработку и реализацию государственной политики и координацию в сферах охраны окружающей
                                        среды, экологии и климата, геологии и недропользования, использования и охраны природных
                                        ресурсов, включая биоресурсы, недра и водные ресурсы</p>
                                    <p class="card-text fs-4">
                                        <small class="text-muted">
                                            <a href="https://mnr.gov.kg/ru" target="_blank">https://mnr.gov.kg/ru</a>
                                        </small>
                                    </p>

                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="card-body">
                            <div class="d-flex align-items-center">

                                <div class="flex-grow-1">
                                    <h3 class="mb-3">Fauna &amp; Flora</h3>
                                    <p class="mb-0 fs-4"> Fauna & Flora — это международная благотворительная организация, занимающаяся охраной дикой природы. Мы тесно сотрудничаем с природоохранными организациями в 48 странах мира для защиты и восстановления природы.
                                                Наша миссия заключается в сохранении биоразнообразия, предотвращении исчезновения видов и поддержке устойчивых источников средств к существованию для сообществ, живущих в непосредственной близости от природы.
                                                Обладая более чем 120-летним опытом и знаниями, Fauna & Flora стоит в авангарде глобальных усилий по охране дикой природы и природных экосистем. Мы решаем широкий спектр экологических проблем, включая уничтожение среды обитания, незаконную торговлю дикой природой, неустойчивое использование природных ресурсов, изменение климата, загрязнение пластиком, корпоративную устойчивость и международную экологическую политику.
                                                Мы добиваемся результатов как через прямую поддержку проектов в странах, так и предоставляя техническую и операционную экспертизу из нашего центрального офиса в Великобритании и региональных представительств по всему миру.
                                                В Центральной Азии Fauna & Flora работает через офисы в Кыргызстане и Таджикистане, а также сотрудничает с надёжными партнёрами в Казахстане и Узбекистане. Программа в регионе сосредоточена на сохранении одних из самых ценных экосистем, включая уникальные фруктово-ореховые леса и высокогорные пастбища, жизненно важные как для людей, так и для дикой природы.
                                                Мы также занимаемся охраной ряда глобально и регионально исчезающих видов, таких как дикие яблони, груши и тюльпаны, а также видов, находящихся под угрозой из-за незаконной торговли, включая сайгаков, балобанов и степных черепах.
                                                Совместно с государственными органами и природоохранными организациями Fauna & Flora и наши партнёры стремятся развивать местный потенциал и активно вовлекать местное население в охрану богатого и разнообразного природного наследия Центральной Азии</p>
                                    <p class="card-text fs-4">
                                        <small class="text-muted">
                                            <a href="https://www.fauna-flora.org" target="_blank">https://www.fauna-flora.org</a>
                                        </small>
                                    </p>

                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="card-body">
                            <div class="d-flex align-items-center">

                                <div class="flex-grow-1">
                                    <h3 class="mb-3">TRAFFIC: Глобальный лидер в сфере торговли дикой природой</h3>
                                    <p class="mb-0 fs-4"> TRAFFIC — ведущая неправительственная организация, работающая над тем, чтобы торговля дикими видами животных и растений была законной и устойчивой, принося пользу планете и людям. Обладая почти 50-летним опытом, TRAFFIC активно действует для сокращения незаконной торговли и увеличения выгод от законной и устойчивой торговли дикими видами для местных сообществ.
                                        Как признанный международный эксперт в своей области, TRAFFIC осуществляет исследования, расследования и аналитические обзоры, собирая ключевые данные, которые способствуют принятию решений правительствами, бизнесом и частными лицами. Совместно с широкой сетью партнёров TRAFFIC содействует разработке эффективной политики и реализации практических мер по защите биоразнообразия и поддержке устойчивых средств к существованию.
                                        TRAFFIC работает в важнейших регионах мира, где сосредоточена торговля дикой природой, выявляя вызовы и возможности, связанные с охраной окружающей среды и устойчивым развитием.
                                        Организация ведёт деятельность на пяти континентах, располагает около 20 офисами и насчитывает примерно 200 сотрудников по всему миру.
                                    </p>
                                    <p class="card-text fs-4">
                                        <small class="text-muted">
                                            <a href="https://www.traffic.org/" target="_blank">https://www.traffic.org</a>
                                        </small>
                                    </p>

                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="card-body">
                            <div class="d-flex align-items-center">

                                <div class="flex-grow-1">
                                    <h5 class="mb-3">TRAFFIC в Центральной Азии</h5>
                                    <p class="mb-0 fs-4"> TRAFFIC уже более 20 лет работает в Центральной Азии, занимаясь решением сложных
                                        проблем, связанных с торговлей дикой природой, в регионе, который является
                                        перекрёстком легальных и нелегальных торговых маршрутов. С 2022 года региональное
                                        представительство TRAFFIC, расположенное в Бишкеке (Кыргызстан), координирует
                                        усилия в Казахстане, Кыргызстан, Таджикистане и Узбекистане.

                                        <h6>Реализованные и реализуемые проекты в Центральной Азии</h6>


                                        <ul>
                                            <li class="fs-4">Формирование эффективного реагирования на незаконную торговлю дикой
                                                природой (2021–2023)
                                                Финансирование: DEFRA, Правительство Великобритании
                                                Укрепление региональной координации и механизмов правоприменения в борьбе с
                                                незаконной торговлей.</li>
                                            <li class="fs-4">
                                                Повышение потенциала и содействие в борьбе с преступлениями против
                                                дикой природы (2021–2025)
                                                Финансирование: INL, Правительство США
                                                Развитие институционального потенциала и укрепление политической воли для
                                                борьбы с преступлениями против дикой природы в Центральной Азии.
                                            </li>
                                            <li class="fs-4">
                                                Динамика торговли домашними животными: незаконная торговля дикой
                                                природой (2023–2025)
                                                Финансирование: INL, Правительство США
                                                Исследование тенденций, факторов и маршрутов нелегальной торговли дикими
                                                животными для содержания в качестве домашних питомцев.
                                            </li>
                                            <li class="fs-4">
                                                Улучшение сбора диких растений для устойчивой торговли
                                                Финансирование: DEFRA, Правительство Великобритании

                                                Проведение пилотных проектов по устойчивому сбору диких растений для
                                                поддержки легальной и экологически ответственной торговли в Узбекистане.
                                            </li>
                                        </ul>

                                    <p class="card-text fs-4">
                                        <small class="text-muted">
                                            <a href="https://www.traffic.org/">https://www.traffic.org/</a>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

</section>
</html>