<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<section layout:fragment="content" class="py-5">

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Дэшборд</a></li>
                <li class="breadcrumb-item active" aria-current="page">Про CITES</li>
            </ol>
        </nav>

        <section class="py-5">
            <div class="container">
                <h2 class="text-center mb-4">Что такое CITES?</h2>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <p>
                            CITES (Конвенция о международной торговле видами дикой фауны и флоры, находящимися под угрозой исчезновения) — это международное соглашение, регулирующее торговлю видами животных и растений, чтобы их эксплуатация не угрожала их выживанию в природе.
                        </p>
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <h3 class="text-center mb-3">Зачем нужна Конвенция CITES?</h3>
                        <p>
                            Конвенция CITES необходима для того, чтобы международная торговля дикими животными и растениями не угрожала их выживанию. Она способствует глобальному сотрудничеству в регулировании торговли и защите более 40 000 видов от чрезмерной эксплуатации и вымирания.
                        </p>
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <h3 class="text-center mb-3">Кто такие Стороны CITES и что они делают?</h3>
                        <p>Стороны CITES — это страны, которые добровольно присоединились к соглашению и обязались соблюдать его правила. Каждая страна сама следит за тем, чтобы эти правила выполнялись внутри её границ.</p>
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <h3 class="text-center mb-3">Какие страны Центральной Азии являются участниками Конвенции CITES?</h3>
                        <p>
                            Все пять стран Центральной Азии — Казахстан, Кыргызстан, Таджикистан, Туркменистан и Узбекистан — являются Сторонами Конвенции CITES.
                        </p>
                        <ul>
                            <li>Казахстан: присоединился в 1999 году.</li>
                            <li>Кыргызстан: присоединился в 2007 году.</li>
                            <li>Таджикистан: присоединился в 2013 году.</li>
                            <li>Туркменистан: стал последней страной региона, вступившей в Конвенцию, её участие вступил в силу с 2 января 2025 года.</li>
                            <li>Узбекистан: подписал Конвенцию в 1994 году.</li>
                        </ul>
                    </div>
                </div>


                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <h3 class="text-center mb-3">Как работает CITES?</h3>
                        <p>CITES использует систему разрешений для контроля международной торговли видами, включёнными в три Приложения, в зависимости от уровня необходимой им защиты. Каждое Приложение содержит особые правила, направленные на то, чтобы торговля не угрожала выживанию видов.</p>
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <h3 class="text-center mb-3">Приложение I/ Annex I</h3>
                        <p>Приложение I включает все виды, находящиеся под угрозой исчезновения, торговля которыми означает или может оказать на их существование неблагоприятное влияние (виды, над которыми нависла наибольшая угроза в мировом масштабе). Торговля образцами этих видов должна особенно строго регулироваться для того, чтобы не ставить далее под угрозу их выживание, и должна быть разрешена только в исключительных обстоятельствах.
                            Образцы видов, включенных в приложение I, обычно не могут быть предметом коммерческой торговли (за исключением искусственно выращиваемых растений и животных, выведенных в неволе или в животноводческих и домашних хозяйствах).
                            На импорт и экспорт этих видов требуются разрешения.
                        </p>
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <h3 class="text-center mb-3">Приложение II/ Annex II</h3>
                        <p>Приложение II включает все виды, которые в данное время хотя и не обязательно на- ходятся под угрозой исчезновения, но могут оказаться под такой угрозой, если торговля образцами таких видов не будет строго регулироваться в целях недопущения такого использования, которое несовместимо с их выживанием. </p>
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <h3 class="text-center mb-3">На экспорт требуется разрешение (от правительства страны экспортера).</h3>
                        <p>Приложение III/ Annex III
                            Приложение III включает все виды, которые по определению любой Стороны подлежат регулированию в пределах ее юрисдикции в целях предотвращения или ограничения эксплуатации и в отношении которых необходимо сотрудничество других стран в контроле за торговлей.
                        </p>
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <h3 class="text-center mb-3">Какие виды охраняются CITES?.</h3>
                        <p>
                            CITES охраняет более 40 900 видов, включая около 6 610 видов животных и 34 310 видов растений, регулируя их международную торговлю. Виды включаются в одно из трёх Приложений в зависимости от степени угрозы, и охрана может распространяться как на целые группы (например, орхидеи или морские черепахи), так и на отдельные подвиды или популяции.
                        </p>
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <h3 class="text-center mb-3">Кто выдает сертификат CITES в Кыргызской Республике?</h3>
                        <p>
                            Порядок получения разрешений CITES определен Министерством природных ресурсов, экологии и технического надзора Кыргызской Республики по надзору в сфере природопользования предоставления государственной услуги по выдаче разрешения на вывоз из Кыргызской Республики и ввоз в Кыргызскую Республику видов дикой фауны и флоры, находящихся под угрозой исчезновения, их частей или дериватов, подпадающих под действие Конвенции о международной торговле видами дикой фауны и флоры.
                        </p>
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <h3 class="text-center mb-3">Сколько действует сертификат CITES?</h3>
                        <p>
                            Выданное разрешение на экспорт / реэкспорт может быть использовано только в течение шести месяцев с даты его выдачи. Это значит, что разрешение экспорт / реэкспорт будет действительно для целей импорта при предъявлении его только в течение шести месяцев со дня выдачи.
                        </p>
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <h3 class="text-center mb-3">Как искать животных и растения?</h3>
                        <p>
                            Для поиска более подробной информации о животных и растениях вы можете воспользоваться сайтом Species+. Данный ресурс разработан UNEP-WCMC и Секретариатом CITES для предоставления централизованного доступа к ключевой информации о видах, представляющих глобальный интерес.
                            Этот сайт создан для предоставления актуальной информации о статусе охраны животных и растений.
                            Кому будет полезен данный ресурс?
                            Для специалистов и правительств
                            <ul>
                                <li>Чтобы проверять, разрешена ли торговля определённым видом.</li>
                                <li>Чтобы отслеживать, какие виды защищены в разных странах.</li>
                                <li>Чтобы соблюдать международные природоохранные обязательства.</li>
                            </ul>
                            Для таможни и правоохранительных органов
                            <ul>
                                <li>Для быстрой проверки, включён ли вид в Приложения CITES.</li>
                                <li>Для выявления нарушений, связанных с незаконной торговлей.</li>
                            </ul>
                            Для исследователей и экологов
                            <ul>
                                <li>Для получения научных и юридических данных о статусе видов.</li>
                                <li>Для оценки угроз и распространения животных и растений.</li>
                            </ul>
                            Для НПО и общественности
                            <ul>
                                <li>
                                    Чтобы понимать, какие виды находятся под угрозой исчезновения.
                                </li>
                                <li>
                                    Чтобы использовать достоверную информацию для природоохранной работы и просвещения.
                                </li>
                            </ul>
                            Что можно найти на сайте:
                            <ul>
                                <li>Правовой статус вида (по CITES и CMS)</li>
                                <li>Географическое распространение</li>
                                <li>Научные и общепринятые названия</li>
                                <li>Документы и квоты, связанные с международной торговлей</li>
                                <li>Историю изменений в классификации вида</li>
                            </ul>
                            Сайт помогает соблюдать международное право в области охраны природы и служит инструментом для принятия обоснованных решений при торговле и защите биоразнообразия.
                            Важно: сайт доступен только на английском языке, поэтому для поиска необходимо вводить название вида на английском или на латыни.
                        </p>
                    </div>
                </div>


            </div>
        </section>

    </div>
</section>
</html>