<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<section layout:fragment="content" class="py-5">

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Дешборд</a></li>
                <li class="breadcrumb-item active" aria-current="page">Образец разрешения СITES</li>
            </ol>
        </nav>

        <div class="row" style="text-align: justify;">
            <div class="card">
                <div class="card-body">

                    <h2 class="display-6 mb-0 card-title text-center">Образец разрешения СITES</h2>

                    <div class="">
                        <img th:src="@{/assets/images/template_cites.png}" class="img-fluid" alt="Responsive image">
                    </div>
                    <p>
                        Блок 1 и 18 — номера разрешений CITES должны совпадать;
                    </p>
                    <p>
                        Блок 2 — наименование торговой операции, отмеченной символом «X», должно отвечать осуществляемой торговой операции;
                    </p>
                    <p>
                        Блок 3 — срок действия разрешения CITES не должен истечь на момент про- изводимой торговой операции. При этом срок действия разрешения CITES зависит от даты выдачи разрешения CITES, указанной в блоке 15: до 6 месяцев с момента выдачи для экспорта и реэкспорта и до 12 месяцев с момента выдачи для импорта;
                    </p>
                    <p>
                        Блок 4 и 5 — наименования импортера и экспортера должны соответствовать наименованиям юридических/физических лиц, осуществляющих импорт/экспорт;
                    </p>
                    <p>
                        Блок 6 — страна импорта должна соответствовать стране назначения товара;
                    </p>
                    <p>
                        Блок 7 — должна присутствовать надпись «for live animals, this permit or certificate is only valid if transport conditions conform to the Guidelines for Transport of Live Animals or, in the case of are air transport, to the IATA Live Animals Regulations».
                    </p>
                    <p>
                        Блоки 8 и 12 — блоки предназначены для указания цели импорта/экспорта (блок 8), охранного статуса и происхождения животных, растений, либо их частей и дериватов (блок 12). В случае если животное, растение, либо их части и дериваты внесены в приложение I CITES, а в блоке 8 указана коммерческая цель (Т), то в блоке 12 возможно обозначение 1/С. В случае если в блоке 12 присутствует обозначение 1/W, 1/F1, то в блоке 8 возможны обозначения Р, О;
                    </p>
                    <p>
                        Блок 9 — номер контрольной марки, указанный в блоке 9, должен соответ- ствовать номеру контрольной марки, наклеенной в блоке 16;
                    </p>
                    <p>
                        Блоки 10 и 13 — названия и количество животных, растений, либо их частей и дериватов должны соответствовать фактически вывозимым/ввозимым живот- ным, растениям, либо их частям и дериватам;
                    </p>
                    <p>
                        Блок 14 — состояние ввозимых/вывозимых животных, растений, либо их частей и дериватов должно быть указанно соответствующим образом (живые животные — live, зоологические коллекции — zoological collections, дериваты — derivatives и т.д.);
                    </p>
                    <p>
                        Блок 15 — дата выдачи разрешения;
                    </p>
                    <p>
                        Блоки 16 и 18 — в этом блоке должна присутствовать подпись уполномочен- ного лица, заходящая на наклеенную контрольную марку, а также синяя печать Административного органа CITES в Республике Узбекистан с эмблемой CITES в центре, заходящая на наклеенную контрольную марку;
                    </p>
                    <p>
                        Блок 19 — на каждом экземпляре разрешения CITES дополнительно ставится тисненная печать, снабженная оттиском в виде эмблемы CITES.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
</html>