<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<section layout:fragment="content">
    <div class="row">

        <div class="col-lg-4">
            <div class="card bg-success text-white-50">
                <div class="card-body">
                    <a th:href="@{/permission/list}">
                        <h5 class="mb-4 text-white"><i class="mdi mdi-check-all me-3"></i>Разрешения</h5>
                    </a>
                    <p class="card-text">Раздел включает выданные разрешения СИТЕС за период с 2020 года по сегодняшний день</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <a th:href="@{/incidents}">
                        <h5 class="mb-4 text-light">
                            <i class="mdi mdi-alert-circle-outline me-3"></i>Нелегальные изъятия
                        </h5>
                    </a>
                    <p class="card-text">Зарегистрированные случаи незаконной торговли объектами дикой природы на территории Кыргызской Республики за период с 2025 года.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card bg-primary text-white-50">
                <div class="card-body">
                    <a th:href="@{/dashboard}">
                        <h5 class="mb-4 text-white"><i class="mdi mdi-bullseye-arrow me-3"></i>
                            Дэшборд
                        </h5>
                    </a>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card bg-danger text-white-50">
                <div class="card-body">
                    <a th:href="@{/definitions}">
                        <h5 class="mb-4 text-white"><i class="mdi mdi-bullseye-arrow me-3"></i>
                            Определитель
                        </h5>
                    </a>
                    <p class="card-text">придумать описание</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card bg-danger text-white-50">
                <div class="card-body">
                    <a th:href="@{/cites-template}">
                        <h5 class="mb-4 text-white"><i class="mdi mdi-bullseye-arrow me-3"></i>
                            Образец разрешения СITES
                        </h5>
                    </a>
                    <p class="card-text">придумать описание</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card bg-warning text-white-50">
                <div class="card-body">
                    <a th:href="@{/permission/report}">
                        <h5 class="mb-4 text-white"><i class="mdi mdi-bullseye-arrow me-3"></i>
                            Формирование отчета
                        </h5>
                    </a>
                    <p class="card-text">Выгрузка отчетов о легальной торговле объектами дикой природы Кыргызской Республики в формате таблиц Excel за период с 2020 года по настоящее время.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card bg-warning text-white-50">
                <div class="card-body">
                    <a th:href="@{/permission/report/export-data}">
                        <h5 class="mb-4 text-white"><i class="mdi mdi-bullseye-arrow me-3"></i>
                            Статистика
                        </h5>
                    </a>
                    <p class="card-text">Визуализация отчетов о легальной торговле объектами дикой природы Кыргызской Республики в виде графиков непосредственно на сайте за период с 2020 года по настоящее время.</p>
                </div>
            </div>
        </div>

    </div>
</section>
</html>