<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<section layout:fragment="content" class="py-5">

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Дэшборд</a></li>
                <li class="breadcrumb-item active" aria-current="page">Инструкция для пограничных контрольных органов по проверке грузов, подпадающих под действие Конвенции CITES</li>
            </ol>
        </nav>

        <section class="p-5">
            <div class="container">
                <h2>Инструкция для пограничных контрольных органов по проверке грузов, подпадающих под действие Конвенции CITES</h2>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <p class="fs-4">
                            ШАГ 1. Тщательно проверьте разрешения, осуществляя следующие действия:
                        </p>
                        <ul>
                            <li class="fs-4">Установите подлинность документа CITES</li>
                            <li class="fs-4">Проверьте даты выдачи и истечения срока действия документа;</li>
                            <li class="fs-4">Проверьте правильность заполнения информационных граф: полные адреса и информация о грузе;</li>
                            <li class="fs-4">Убедитесь, в порядке ли печать и подпись компетентного органа;</li>
                            <li class="fs-4">Проверьте документ на наличие стертых мест, исправлений или других изменений;</li>
                            <li class="fs-4">Проверьте подпись владельца разрешения;</li>
                            <li class="fs-4">Проверьте правильность заполнения всех информационных колонок;</li>
                            <li class="fs-4">Проверьте подлинность печати;</li>
                            <li class="fs-4">В случае сомнений позвоните на номер 108 горячей линии Министерства природных ресурсов, экологии и технического надзора Кыргызской Республики для уточнения информации;</li>
                            <li class="fs-4">Проверьте соответствие разрешения с накладной.</li>
                        </ul>
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <p class="fs-4">
                            ШАГ 2. Сравните соответствие данных, указанных в разрешении, с грузом:                        </p>
                        <ul>
                            <li class="fs-4">Посчитайте количество контейнеров</li>
                            <li class="fs-4">Посчитайте количество единиц груза в контейнерах</li>
                            <li class="fs-4">Сравните данные описания груза в разрешении с фактическим грузом (вес, пол, маркировка, ярлыки)</li>
                            <li class="fs-4">УПроверьте правильность написания названия видов (латинские названия) на разрешении</li>
                            <li class="fs-4">Проверьте состояние животных и /или растений.</li>
                        </ul>
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <p class="fs-4">
                            ШАГ 3. Сравните данные, указанные в разрешении, с данными, указанными в других документах, например в:               </p>
                        <ul>
                            <li class="fs-4">Погрузочных документах (накладная, в которой необходимо проверить соответствие названия страны-экспортера, указанного в разрешении, названию страны экспорта, указанному в погрузочных документах)</li>
                            <li class="fs-4">Сопроводительных документах (например, учет продаж, другие разрешения)</li>
                            <li class="fs-4">Проверьте наличие адреса импортера.</li>
                        </ul>
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <p class="fs-4">
                            ШАГ 4. При необходимости обратитесь за помощью к компетентным органам:
                        <ul>
                            <li class="fs-4">Свяжитесь с органом, выдавшим разрешение</li>
                            <li class="fs-4">Свяжитесь с лицами, указанными в разрешении</li>
                            <li class="fs-4">Свяжитесь с другими организациями (Академия наук Кыргызской Республики и другими природоохранными организациями)</li>
                        </ul>
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10">
                        <h3>Что происходит при нарушении правил CITES?</h3>
                        <div>
                            <p class="fs-4">За нарушение правил CITES, таких как торговля без разрешений, могут назначаться штрафы, конфискация объектов торговли и уголовная ответственность — в зависимости от законов конкретной страны.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>
</section>
</html>